/* --- VERSION MOBILE ------------------ */
* {
	margin: 0 auto;
	padding: 0 auto;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
}
h1 { text-align: left; }
/* --- VERSION MOBILE ------------------ */
